vim/.vim/.netrwhist
vim/.vim/undodir
vim/.vim/plugged
vim/.vim/.VimballRecord
vim/.vim/autoload
vim/.vim/doc
vim/.vim/spell
vim/.vim/.netrwhist
qutebrowser/.config/qutebrowser/bookmarks/
qutebrowser/.config/qutebrowser/quickmarks
