# TODO: do some sort of fancy thing to make it so all of the snippets
# here contain ".*.swp*"; we always want to ignore vim swap files

snippet org "Compiled LaTeX files generated when compiling an org file" b
.*.swp*
*.tex*
*.pdf
endsnippet

snippet java "Compiled Java bytecode" b
*.class
endsnippet
